body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(20 27 37 / 59%), rgb(135 133 164 / 57%));
    
    
  }